.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.AI {
  background-color: rgba(39, 113, 251, 0.524);
}

.category.Coding {
  background-color: rgba(128, 128, 128, 0.469);
}

.category.Hydrology {
  background-color: rgba(255, 192, 203, 0.504);
}

.category.Ecology {
  background-color: rgba(172, 255, 47, 0.504);
}

.category.Water {
  background-color: rgba(109, 216, 255, 0.473);
}

.category.Climate {
  background-color: rgba(255, 195, 92, 0.428);
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
